.heroVideoWrapper {
  height: 700px;

  &::after {
    content: "";
    position: absolute;
    background-color: var(--overlay);
    opacity: 0.8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
